/* General */
* { box-sizing: border-box; }

:root {
  --green-light-1: #FBFAFB;
  --green-light-2: #ebfff1;
  --green-medium-1: #c9ffe2;
  --green-medium-2: #b6f9c9;
  --green-medium-3: #96e8bc;
  --green-dark-1: #7dd181;
  --green-dark-2: #4b7f52;
  --green-dark-3: #01110a;

  --yellow: #EECC75;
  --green: #CAD297;
  --aqua: #B7EAC5;
  --lightBlue: #A2EEE5;
  --darkBlue: #8EA2EA;
  --red: #F09D9D;

  --font-family-titles: 'Dosis', sans-serif;
  --font-family-text: 'Red Hat Display', sans-serif;
  --font-weight-title1: 800;
  --font-weight-title2: 700;
  --font-weight-text1: 400;
  --font-weight-text2: 500;

  font-size: 62.5%;
}

html {
  background-color: var(--green-medium-3);
}

body {
  background-color: var(--green-light-1);
  color: var(--green-dark-2);
  font-family: var(--font-family-text);
  font-weight: var(--font-weight-text1);
  font-size: 1.6rem;
  margin: 4px 0 0 0;
  padding: 0;
}

h1, h2, h3 {
  margin: 0;
  padding: 0;
}

h1, h2 {
  font-size: 2.4rem;
  color: var(--green-dark-2);
  font-family: var(--font-family-titles);
  font-weight: var(--font-weight-title1);
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 1.8rem;
  color: var(--green-dark-1);
  font-weight: var(--font-weight-title2);
}

h3 {
  color: var(--green-dark-2);
  font-weight: var(--font-weight-text2);
  font-size: 1.6rem;
}

input {
  background-color: var(--green-light-2);
  color: var(--green-medium-2);
  border: none;
  font-size: 1.8rem;
  padding-left: 16px;
}

input::placeholder {
  color: var(--green-dark-3);
  font-family: var(--font-family-text);
}

button {
  background-color: var(--green-dark-1);
  border: none;
  color: var(--green-light-2);
  font-weight: var(--font-weight-text2);
  font-size: 1.4rem;
  cursor: pointer;
}


/* Shared */
.header__container, .trendingPreview__header, .categoriesPreview__container {
  padding: 0 24px;
}

.trendingPreview__container, .categoriesPreview__container, footer {
  margin-top: 48px;
}

.trendingPreview__header, .categoriesPreview__title {
  margin-bottom: 24px;
}

.movie__container {
  cursor: pointer;
}

.movie__img {
  border-radius: 12px;
}

.categoriesPreview__list, .categories__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  flex-wrap: wrap;
}


/* Header */
.header__container {
  padding-top: 40px;
}

.header__container--long {
  background-image: url('https://pics.filmaffinity.com/Deadpool-777527803-large.jpg');
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.35) 19.27%, rgba(0, 0, 0, 0) 29.17%), url(https://pics.filmaffinity.com/Deadpool-777527803-large.jpg);
  background-size: cover !important;
  height: 480px;
  position: fixed;
  top: 0;
  width: 100%;
}

.header__container--categoryView {
  background: linear-gradient(180deg, rgba(238, 204, 117, 0.5) 0%, rgba(238, 204, 117, 0) 72.92%);
} 

.header__title {
  margin-bottom: 16px;
}

.header__arrow {
  font-weight: var(--font-weight-text2);
  font-size: 3.6rem;
  margin-bottom: 16px;
  cursor: pointer;
  display: inline-block;
}
.header__arrow--white {
  color: var(--green-light-1);
}

.header__searchForm {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-wrap: nowrap;
}

.header__searchForm input {
  height: 48px;
  width: 100%;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  color: var(--green-dark-3)
}
.header__searchForm button {
  width: 56px;
  height: 48px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

/* Trending */
.trendingPreview__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.trendingPreview__button {
  border-radius: 12px;
  height: 40px;
  width: 72px;
}

.trendingPreview__movieList {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  height: 245px;
  padding-left: 24px;
  padding-bottom: 16px;
}

.trendingPreview__movieList .movie__container {
  display: inline-block;
  margin-right: 8px;
}

.trendingPreview__movieList .movie__container .movie__container--img {
  height: 225px;
  min-height: 225px;
  max-height: 225px;
  width: 150px;
  min-width: 150px;
  max-width: 150px;
}


/* Categories */
.category__container {
  width: 45%;
}

.category__title {
  margin-bottom: 8px;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.category__title::before {
  content: '••••';
  color: transparent;
  /* TODO: cambiar color por ID de la categoría */
  background-color: var(--idColor);
  border-radius: 8px;
  margin-right: 8px;
  width: 8px;
  height: 8px;
}
#id28 { --idColor: #fb8500; }
#id12 { --idColor: #dda15e; }
#id16 { --idColor: #e76f51; }
#id35 { --idColor: #283618; }
#id80 { --idColor: #8ecae6; }
#id99 { --idColor: #8d99ae; }
#id18 { --idColor: var(--green-medium-1); }
#id10751 { --idColor: #ffb703; }
#id14 { --idColor: #e63946; }
#id36 { --idColor: var(--green); }
#id27 { --idColor: #a9def9; }
#id10402 { --idColor: #582f0e; }
#id9648 { --idColor: #ff4d6d; }
#id10749 { --idColor: #e09f3e; }
#id878 { --idColor: #023047; }
#id10770 { --idColor: #9b2226; }
#id53 { --idColor: #00f5d4; }
#id10752 { --idColor: #219ebc; }
#id37 { --idColor: #463f3a; }


/* Generic List (search, trending & category) */
.genericList__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 32px 24px;
}

.genericList__container .movie__container {
  display: inline-block;
  width: 47.5%;
}

.genericList__container .movie__container--img {
  width: 100%;
}


/* Movie Detail */
.movieDetail__container {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  padding: 32px 24px;
  margin-top: 403px;
  z-index: 1;
  position: absolute;
  background-color: var(--green-light-1);
}

.movieDetail__title {
  display: inline-block;
  width: 80%;
  margin: 0 0 16px 0;
  padding: 0;
}

.movieDetail__score {
  display: inline-block;
  text-align: right;
  width: 18%;
  font-weight: var(--font-weight-title2);
}
.movieDetail__score::before {
  content: '★';
  color: var(--yellow);
  padding-right: 4px;
}

.movieDetail__description {
  margin: 0 0 24px 0;
}

.relatedMovies__container {
  margin-top: 24px;
  height: 216px;
}

.relatedMovies__title {
  margin-bottom: 16px;
}

.relatedMovies__scrollContainer {
  position: absolute;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  width: calc(100vw - 24px);
  padding-bottom: 16px;
}

.relatedMovies__scrollContainer .movie__container {
  display: inline-block;
  margin-right: 8px;
}

.relatedMovies__scrollContainer .movie__container--img {
  width: 125px;
  min-width: 125px;
  max-width: 125px;
  height: 187.5px;
  min-height: 187.5px;
  max-height: 187.5px;
}
  

/* Footer */
footer {
  background-color: var(--green-medium-3);
  color: var(--green-light-2);
  text-align: center;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer p {
  color: var(--green-dark-3);
  font-size: 2rem;
  font-family: var(--font-family-titles);
  font-weight: var(--font-weight-text2);
}


/* Navigation */
.inactive {
  display: none;
}

/* Loading skeletons */
.movie__container--loading{
  background-color: var(--green-light-2);
  border-radius: 12px;
  height: 225px;
  min-height: 225px;
  max-height: 225px;
  width: 150px;
  min-width: 150px;
  max-width: 150px;
  margin-bottom: 15px;
  animation: loading-skeleton infinite 1.5s;
}
.movie__container--loading:nth-child(2){
  animation-delay: 0.2s;
}
.movie__container--loading:nth-child(3){
  animation-delay: 0.4s;
}
.movie__container--loading:nth-child(4){
  animation-delay: 0.6s;
}
.category__container--loading{
  background-color: var(--green-light-2);
  border-radius: 8px;
  height: 30px;
  max-height: 30px;
  min-height: 30px;
  width: 150px;
  min-width: 150px;
  max-width: 150px;
  margin-bottom: 15px;
  animation: loading-skeleton infinite 1.5s;
}
.category__container--loading:nth-child(2){
  animation-delay: 0.2s;
}

/* Animations */
@keyframes loading-skeleton{
  0%, 100%{
    opacity: 100%;
  }
  50%{
    opacity: 0%;
  }
}